* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #023047;
}

.post_container {
    width: 800px;
    margin: auto;
}

.user {
    background-color: white;
}